{
  "parser": "babel-eslint",
  "rules": {
    "semi": "off",
    "comma-dangle": "off",
    "one-var": "off",
    "indent": "off",
    "linebreak-style": "off",
    "arrow-parens": "off",
    "no-undef": "off",
    "eol-last": "off",
    "require-jsdoc": "off",
    "no-trailing-spaces": "off",
    "operator-linebreak": "off",
    "max-len": "off",
    "no-debugger" : "off"
  },
  "extends": ["eslint:recommended", "google"]
}